streamlit
pandas
supabase
plotly
networkx
pyvis
python-docx
openpyxl
beautifulsoup4
kaleido
numpy
matplotlib
wordcloud
feedparser
instaloader
googlenewsdecoder
requests
streamlit-autorefresh
